html, body {
    background-color: lightgrey;
    margin: 0;
    padding: 0;
}

.top-header {
    background-color: rgb(56, 54, 54);
}

.menu-item {
    color: white;
    padding: 15px;
    display: inline-block;
    text-decoration: none;
}

.brand {
    font-size: 20px;
    font-weight: 600;
}

.main-content {
    max-width: 600px;
    margin: auto;
}

.box {
    background-color: whitesmoke;
    margin: 20px;
    padding: 30px;
}

.image {
    width: 100%;
}

.button {
    color: black;
    background-color: lightgrey;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
}
.buttom-footer {
    background-color:  rgb(99, 99, 99);
    padding: 20px;
    text-align: center;
}